body{
    height: 2000px;
    width:100%;
    background-color: white;
    display: flex;
    font-family: Poppins,sans-serif;
}
 
/*this is Navigation bar */
.navbar{
    display: flex;
    height:100px;
    width:100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 50px;
    gap:20px;
    margin:50px;
    display: flex;
    justify-content:center;
}
.list{
    height:50px;
    display: flex;
    justify-content:center;
    margin-left: 100px;
}
     
 li{
    list-style: none;
    display: inline-block;
    margin-right: 50px ;
    font-size: 15px;
    color: #2F281E;
 }
button{
    height:40px;
    width:120px;
    background-color: #FF9900;
    color:white;
}
 button:hover{
    background-color: yellowgreen;
 }
 
 /*this is first section*/
 .sec1-container{
    display: flex;
    align-items: center;
    padding: 50px 69px 25px 100px;
    margin-top: 30px;
    width: 100%;  
    gap:100px;
 }
 .section1{    
    max-width:350px;
    align-items: center;
    gap:0px;
    margin-top: 30px;
 }
 
.imgageallign{
   height: 72px;
   padding: 10px 0;    
 
 }
 
 /* this is section 2*/
 .sec2-container{
    width:100%;
    margin:10px;
    gap:10px;
    display: flex;
 }
 
 .alignment{
    padding:30px;
 }
 
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconsec2{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
 
/*this is section 3*/
.sec3-container{
    display: flex;
    align-items: center;
    padding: 50px 69px 25px 100px;
    margin-top: 20px;
    width: 100%;  
    gap:100px;
 }
 
 .section3{    
    max-width:350px;
    align-items: center;
    gap:0px;
    margin-top: 30px;
 }
 
.imgageallign{
   padding: 10px 0;  
 }
 
 
/*this is section 4*/
 
.sec4-container{
    display: flex;
    align-items: center;
    padding: 50px 69px 25px 100px;
    margin-top: 20px;
    width: 100%;  
    gap:100px;
 }
 
 .section4{    
    max-width:350px;
    align-items: center;
    gap:0px;
    margin-top: 30px;
 }
 
.imgageallign{
   padding: 10px 0px;  
 }
 
 .listallign{
    display: inline-block;
 }
 
 
 /*this is section 5*/
 .sec5-container{
    display: flex;
    align-items: center;
    padding: 40px 69px 25px 100px;
    margin-top: 20px;
    width: 100%;  
    gap:50px;
 
 }
 .section5{    
    max-width:350px;
    align-items: center;
    margin-top: 30px;
   
 }
.imgageallign{
   padding: 10px 0;  
 }
 
/*this is footer section */
 .footercontainer{
   
    width:100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
.footerlogo{
    max-width: 100px;
    padding :50px;
    margin:50px;
    display: inline-blocks;
    justify-content:center;
 
 }
 .list2{
    gap:20px;
    display: flex;
    margin-left: 100px;
 }
 .search{
   display:flex;
   height: 30px;
   width: 100px;
   border-radius: 10px;
   background-color: beige;
   padding: 5px;
   margin: 20px;
 }
